<form id="question-form">
	<div class="alert alert-danger fade show" role="alert" id="alert-container" style="display: none;">
	  <strong>Server returned errors:</strong>
	  <div id="alert"></div>
	</div>
	<input name="question_id" type="hidden" value="">
	<div class="mb-3">
		<label class="form-label" for="chapter">Chapter</label>
		<select class="form-select" id="chapter" name="chapter">
			{% for chapter in chapters %}
			<option value="{{ chapter.chapter }}">{{ chapter.chapter }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="mb-3 required">
		<label class="form-label" for="question_number">Question number</label>
		<input class="form-control" id="question_number" min="1" name="question_number" required="" type="number" value="{{ question.question_number }}">
	</div>
	<div class="mb-3 required">
		<label class="form-label" for="title">Title</label>
		<input class="form-control" id="title" maxlength="100" minlength="1" name="title" required="" type="text" value="{{ question.title }}">
	</div>
	<div class="mb-3 required">
		<label class="form-label" for="answers">Answers</label>
		<input class="form-control" id="title" maxlength="100" minlength="1" name="answers" required="" type="text" value="">
		<input class="form-control" id="title" maxlength="100" minlength="1" name="answers" required="" type="text" value="">
		<input class="form-control" id="title" maxlength="100" minlength="1" name="answers" required="" type="text" value="">
	</div>
	<div class="mb-3">
		<label class="form-label" for="answer">Answer</label>
		<select class="form-select" id="answer" name="answer">
			<option value="0">0</option>
			<option value="1">1</option>
			<option value="2">2</option>
		</select>
	</div>
	<div class="clearfix">
		<div class="float-start">
			<a class="btn btn-primary btn-md" id="submit">Save</a>
			<a href="/" class="btn btn-secondary">Cancel</a>
		</div>
	</div>
</form>